@import "../../../../../../static/css/source/_global";
@import "../../../../../../static/css/source/4_content";
@import "../../../../../../static/css/source/5_fce";
@import "../../../../../../static/css/source/6_typo3-RTE";

body{
	background-color:#191919;
}

p{
	font-size:13px;
}
/**
 * insert RTE Stylesheet here
 */




.csc-textpic-image dl{
	margin:0;
	padding:0;	
}

td.footer{
	background-color:#080c06;
	text-align:center; 
	height:41px; 
	padding: 20px 30px;
	border-top:2px solid #1f2c17;
	a, p{
		text-align:center; 
		font-size:10px; 
		color:#525d4b;
		margin:0;
	}
	.copyright{
		
	}
}

table.page{
	width:600px; 
	border-collapse:collapse; 
	border:0;
	padding:0;
	background-color:#16230e;
}

tr, td { 
	border-spacing: 0; border-collapse: collapse;
}

.main_content{	
	padding:30px;
	margin:0;
}

.twocol_fce{
	margin:0 0 30px 0;
}

.twocol_fce_left_padding{
	padding:0 30px 0 0;
}

.fourcol_fce_right_padding{
	padding:0 20px 0 0;
}

.csc-header-n1{
	padding:0;
	margin:0;
}


.alternativeviewlink {
    padding: 0 0 7px 0;
    margin: 0;
    text-align: center;
    font-size: 10px;
    color: #525d4b;
	display:block;
	text-decoration:none;
}










 /**
  * @section subtemplates
  * @see     http://www.yaml.de/en/documentation/practice/subtemplates.html
 */

.subcolumns, .subcolumns_oldgecko {
width: 100%;
overflow:hidden;
margin:0 0 15px 0;
}

/* (en) alternative class for optional support of old  Mozilla/Netscape browers */
/* (de) Alternative Klasse zur optionalen Unterstützung alter Mozilla/Netscape-Brower */
.subcolumns_oldgecko { float:left }

.c50l, .c25l, .c33l, .c38l, .c66l, .c75l, .c62l {float: left; }
.c50r, .c25r, .c33r, .c38r, .c66r, .c75r, .c62r {float: right; margin-left: -5px; }

.c25l, .c25r { width: 25% }
.c33l, .c33r { width: 33.333% }
.c50l, .c50r { width: 50% }
.c66l, .c66r { width: 66.666% }
.c75l, .c75r { width: 75% }
.c38l, .c38r { width: 38.2% }
.c62l, .c62r { width: 61.8% }

.subc{padding:0}
.subcl{padding:0 20px 0 0;}
.subcr{padding:0 0 0 20px;}

