@import 'compass/css3';

@mixin typo3icon($x, $y){
  background:url("/typo3conf/ext/aio_feedit/res/img/t3-icon-actions.png") no-repeat $x $y;
}


.aiofeedit_button{
  float:left;
  margin:3px 0 0 0;
  width:16px;
  height:16px;
  display:block;
  span{
    display:none;
  }
}


.aiofeedit_saveandclose{
  @include typo3icon(0, -264px);
}

.backtowebsite{
  display:block;
  width:200px;
  color:#fff;
  padding:3px 5px 0 21px;
  &:hover{
    color:#eee;
  }
}

//border for templavoila debugging
.buttonsleft .buttongroup a{
  //border:1px solid blue;
}
