@import 'compass';

$revision:1;
/*
 * aio_feedit
 * z-index space:
 * 10000 - 11000
 */

.tpm-new{
  border:1px solid blue;
  display:block;
  width:16px;
  height:16px;
}


$base_color: #cc0000;
$base_color_enabled: #00cc00;
$button_size: 30px;

$editbar_color:#fff;
$editbar_backgroundcolor:#000;
$editbar_backgroundcolor_hover:#555;

$outline:#666;
$outline-hidden:#f00;


//feedit_bar
$color:#BFBFBF;
$background-color:#000;
$color_border:#666;

$font-family:Verdana, Arial;

$color_buttonbackground:#4c4c4c;
$color_gradient1:#666;
$color_gradient2:#333;

@mixin typo3icon($x, $y){
  background:url("../../img/t3-icon-actions.png?rev=#{$revision}") no-repeat $x $y;
}

//exact value reduces flickering of page when loaded
$inital_feeditbar_height: 59px;

//feedit is turned on 
body{
  //add margin-top to body to get space for feedit-bar
  margin-top:$inital_feeditbar_height;
}

/**************************************************
 * FE edit styles - for plugin jquery.feedit.js
 **************************************************/

@mixin resetimgtag{
  img{
    margin:0;
    padding:0;
    background:none;
    background-color:transparent;
    border:none;
  }
}

//disable all buttons by default
a.frontEndEditIconLinks{
  display:none;
  background:none;
}

//entire content element editable
.feedit-form{
  display:none;
}


@mixin typo3-editPanel_button_hover{
  background-color:#666;
  @include border-radius(5px);
}

.typo3-editPanel{
  width:auto;
  
  @include resetimgtag;
  
  .typo3-editPanel-label{
    //display:none;
  }
  
  .typo3-editPanel-controls{
    overflow:hidden;
    @include linear-gradient(color-stops($color_gradient2, $color_gradient1) );
    @include border-radius(5px);
    background-color:$color_buttonbackground;

    a{
      float:left;
      
      width:30px;
      height:30px;
      
      &:hover{
        @include typo3-editPanel_button_hover;
      }
      
      img{
        display:none;
      }
    }
    
    a.edit{
      display:block;
      @include typo3icon(9px, -1482px);
      &:hover{
        @include typo3-editPanel_button_hover;
      }
    }
    
    a.new{
      display:block;
      @include typo3icon(7px, -666px);
      &:hover{
        @include typo3-editPanel_button_hover;
      } 
    }
    
    a.up{
      display:none;
//      @include typo3icon(10px, -1482px);
      &:hover{
        @include typo3-editPanel_button_hover;
      }
    }
    
    a.down{
      display:none;
//      @include typo3icon(10px, -1482px);
      &:hover{
        @include typo3-editPanel_button_hover;
      }
    }
    
    a.delete{
      display:block;
      @include typo3icon(7px, -2178px);
      &:hover{
        @include typo3-editPanel_button_hover;
      }
    }
    
    a.hide{
//      display:none;
        @include typo3icon(7px, -2058px);
      
      &:hover{
        @include typo3-editPanel_button_hover;
      }
    }
    
    a.unhide{
//      display:none;
      @include typo3icon(7px, -642px); 
      &:hover{
        @include typo3-editPanel_button_hover;
      }
    }

    // nice patch - if a.edit appears after a.delete - it has to disappear
    a.delete + a.edit,  a.new + a.edit{
      display:none;
    }  
    
  }
}


.feedit-border{
  display:none;
}

.news-latest-container .typo3-editPanel a, .news-list-container .typo3-editPanel a{
  @include resetimgtag;
}

.frontEndEditIconLinks, .csc-textpic .csc-textpic-imagewrap .csc-textpic-image .frontEndEditIconLinks{
  @include resetimgtag;
}

.csc-textpic-caption{
  .frontEndEditIconLinks{
    display:none;
  }
}





/*
 * styles when in backend/frontend
 */

// .typo3backendlink and .logout hidden by default
.feedit_bar .innerwrap {
  a.button.typo3backendlink{
    display:none;
  }
  
  a.button.logout{
    display:none;
  }
}

body.feedit_in_frontend{
  .feedit_bar .innerwrap {
    a.button.new_page{
      display:none;
    }
    
    a.button.preview_page{
      display:none;
    }
    
    a.button.typo3backendlink{
      display:block;
    }
    a.button.logout{
      display:block;
    }
  }
}



//bar on top of webpage
.feedit_bar{
  overflow:hidden;
  padding:10px 20px 10px 20px;
  background-color:#000;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:11000;
  
  border-bottom:2px solid white;
  
  
  .innerwrap{
    background:url('../../img/anorak_logo.png?rev=#{$revision}') no-repeat right 5px;
    overflow:hidden;
    padding:0 100px 0 0;

    //standard button
    .button{
      border:1px solid $color_border;
      font-size:11px;
      display:block;
      float:left;
      text-decoration:none;
      color:$color;
      font-family:$font-family;
      background-color:$color_buttonbackground;
      margin:5px 10px 5px 0;
      
      @include linear-gradient(color-stops($color_gradient2, $color_gradient1) );
      
      @include border-radius(5px);
      
      &:hover{
        @include linear-gradient(color-stops($color_gradient1, $color_gradient2) );
      }
      &:active{
        @include linear-gradient(color-stops($color_gradient2, $color_gradient1) );
      }
      
      span{
        display:block;
        float:left;
        padding:4px 10px 3px 10px;
        color:$color; 
        line-height:1.6em;
      }
    }
    
    
    // preview page button
    a.preview_page{
      span.title{
        padding-left:30px;
        //@include typo3icon(10px, -2227px);
        @include typo3icon(10px, -787px);
      }
    }
        
    // edit page button
    a.edit_page{
      span.title{
        padding-left:30px;
        @include typo3icon(10px, -426px);
      }
    }
    
    // new page button
    a.new_page{
      display:none;
      span.title{
        padding-left:30px;
        @include typo3icon(10px, -666px);
      }
    }
    
    //move content elements
    a.content_move{
      span.title{
        padding-left:30px;
        //remove move icon
        //@include typo3icon(10px, -66px );
        @include typo3icon(10px, -666px);
      }
    }

    a.showhiddenpages{

    }   

    a.showhiddencontent{
    
    }    
    
    
    // new page button
    a.logout{
      float:right;
      span{
      }
    }
    
    a.typo3backendlink{
      float:left;
      span.title{
        padding-left:30px;
        //@include typo3icon(10px, -2034px);
        @include typo3icon(10px, -2253px);

      }
    }
    
/*    a.feedit_on_off{
      float:right;
      span.title{
        padding-left:30px;
        padding-right:0;
        @include typo3icon(10px, -1482px);
      }
      .on_off{
        padding-left:5px;
        text-transform:uppercase;
      }
    }
    
    a.feedit_on_off.enabled{
      .on_off{
        color:#0f0;
      }
    }
    
    a.feedit_on_off.disabled{
      .on_off{
        color:#f00;
      }
    }
*/


    a.feedit_on_off_switch{
      float:right;
      span.title{
        padding-right:10px;
      }
      span.switch{
        display:block;
        width:48px;
        height:16px;
        padding: 4px 5px 3px 10px;
      }

      span.title2{
        padding-left:0px;
      }
            
    }
    
    a.feedit_on_off_switch.disabled{
      span.title{
        color:lime;
      }
      span.switch{
        background: url(../../img/icon_switch-l.gif?rev=#{$revision}) no-repeat 2px 5px;
      }
    }
    
    a.feedit_on_off_switch.enabled{
      span.switch{
        background: url(../../img/icon_switch-r.gif?rev=#{$revision}) no-repeat 2px 5px;
      }
      span.title2{
        color:red;
      }
    }
    
    
    
    .systembuttons{
      float:right;
    }
    
    .editbuttons{
      float:left;
    }


  }//.innerwrap
}//.feedit_bar



.contact_data{ 
  .contact_edit_link{
    display:none;
  }
}


//feedit is turned on 
body.feedit-enabled{
  .feedit-element-wrap{
    outline:2px dotted $outline;
    outline-offset: -2px;
    position:relative;
    min-height:30px;
    
    
  }

  .feedit-element-wrap.feedit-element-wrap-hidden{
    display:block;
    outline:1px dotted $outline-hidden;
    @include opacity(0.5);
    
  }
    
  .feedit-element-wrap-hover{
    outline:2px solid $outline;
    outline-offset: -2px;
    
    background: url(../../img/hatch.png?rev=#{$revision}) repeat 0 0;
    
    > .feedit-form{
      display:block;
      position:absolute;
      top:0px;
      right:0px;
      z-index:10000;
    }
  }


  .feedit-element-wrap-hover{
    .subcolumns{
      .feedit-element-wrap-hover{
          outline:4px solid $outline;
          outline-offset: -4px;
    
          background: url(../../img/hatch_subcols.png?rev=#{$revision}) repeat 0 0;
    
      
      }
    }
  }
  
  
  .feedit-element-wrap-subcolumns > .feedit-form{
    //top:-30px;
  }

  .news-latest-item{
    position:relative;
  }
  .news-list-item{
    position:relative;
  }
  .news-single-item{
    position:relative;
  }
  
  .pagepropertieslink{
    background-color:$editbar_backgroundcolor;
    overflow:hidden;
    display:block;
    position:absolute;
    top:10px;
    left:10px;
    z-index:10000;
    height:20px;
    padding:5px 10px 5px 10px;
    
    img{
      float:left;
      padding-top:3px;
    }
    span{
      float:left;
      display:block;
      margin-left:15px;
      color:$editbar_color;
    }
  }
  
  .contact_data{
    overflow:hidden;
    .contact_edit_link{
      margin-top:10px;
      display:block;
      float:left;
      overflow:hidden;
      @include linear-gradient(color-stops($color_gradient2, $color_gradient1) );
      @include border-radius(5px);
      background-color:$color_buttonbackground;
      border:1px solid $color_border;
      text-decoration:none;  
      
      &:hover{
        @include linear-gradient(color-stops($color_gradient1, $color_gradient2) );
      }

      &:active{
        @include linear-gradient(color-stops($color_gradient2, $color_gradient1) );
      }
      
      span{
        display:block;
        float:left;
        padding:5px 10px 5px 30px;
        @include typo3icon(9px, -1484px); 
        color: $color !important; 
        text-decoration:none;  
      }

      &:hover{
        @include typo3-editPanel_button_hover;
      }
    }
  }//.contact_data

  
  .footer_1{ 
    .contact_data{ 
      .contact_edit_link{
        display:none !important;
      }
    }
  }

  .field{
    outline: 1px dotted $outline;
    outline-offset: -1px;
    min-height:30px;
    @include pie-clearfix;
  }  

  
  a.newitem_button{
    display:block;
    @include typo3icon(10px, -666px);
    height:30px;
    &:hover{
      background-color:lime;
    }
  }


}//feedit-enabled
  
  a.newitem_button{
    display:none;
    span{
      display:none;
    }
  }
  
//if feedit is disabled
//hide hidden elements
.feedit-element-wrap.feedit-element-wrap-hidden{
  display:none;
}
    


//new element position marker
.csc-default-newmarker{
  background-color:#E62800;
  outline:1px solid white;
  outline-offset: -1px;
  color:white;
  font-weight:bold;
  padding:10px;
  margin-bottom:30px;
}



#footer, .footer{
  .typo3-editPanel{
    .typo3-editPanel-controls{
      
      a.delete, a.new{
        display:none;
      }

    }
  }

}


.feedit-hideme{
  display:none;
}


//workspace info patch
#typo3-previewInfo{
  display:none;
  top:70px;
  right:3px !important;
}


#TSFE_ADMIN_PANEL_FORM{
  display:none;
}

