@import "_global";

@media screen{

  #fancybox-loading.fancybox-ie div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_loading.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancybox-close		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_close.png?revision=#{$revision}', sizingMethod='scale'); }
  
  .fancybox-ie #fancybox-title-over	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_title_over.png?revision=#{$revision}', sizingMethod='scale'); zoom: 1; }
  .fancybox-ie #fancybox-title-left	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_title_left.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancybox-title-main	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_title_main.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancybox-title-right	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_title_right.png?revision=#{$revision}', sizingMethod='scale'); }
  
  .fancybox-ie #fancybox-left-ico		{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_nav_left.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancybox-right-ico	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_nav_right.png?revision=#{$revision}', sizingMethod='scale'); }
  
  .fancybox-ie .fancy-bg { background: transparent !important; }
  
  .fancybox-ie #fancy-bg-n	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_shadow_n.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancy-bg-ne	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_shadow_ne.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancy-bg-e	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_shadow_e.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancy-bg-se	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_shadow_se.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancy-bg-s	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_shadow_s.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancy-bg-sw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_shadow_sw.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancy-bg-w	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_shadow_w.png?revision=#{$revision}', sizingMethod='scale'); }
  .fancybox-ie #fancy-bg-nw	{ filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/fileadmin/app/static/img/fancybox/fancy_shadow_nw.png?revision=#{$revision}', sizingMethod='scale'); }

  input[type = file]{
    border: 2px solid $color_input_border;
    padding: $fs*0.25 $fs*0.50;
  }


}//@media

