<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>HTML template Standardseite - to be mapped - create page-design in here</title>
	
		<link rel="stylesheet" type="text/css" href="../../../static/css/css.all.css" />
	   	<!--[if lte IE 6]>
			<link href="../../static/css/patches/patch_ie6.css" rel="stylesheet" type="text/css" />
		<![endif]-->
	   	<!--[if lte IE 7]>
			<link href="../../static/css/patches/patch_ie7.css" rel="stylesheet" type="text/css" />
		<![endif]-->
	
	<style>
		.sliderelement{
			width:600px;
			outline:1px solid black;
		}
		
		.sliderelement .coda-slider-wrapper .coda-nav ul li a.current{
			border:3px solid blue;
		}
		.sliderelement .coda-slider-wrapper .coda-nav ul li a{
			border:1px solid green;
		}
				
		.sliderelement .coda-slider-wrapper .panel-container{
			float:left;
		}
		
		
	</style>
</head>
	<body>


<div class="sliderelement sliderelement_slidetransition">
	<div class="coda-slider-wrapper" style="width:600px;">
		<div class="coda-slider preload" style="width:600px;">
			<div class="panel" style="width:600px;">
				<div class="panel-wrapper">
          <div class="tab-nav-texte">
            <h2 class="tab-nav-headline"></h2>
            <h3 class="tab-nav-subheadline"></h3>
          </div>
					<div class="panel-image">
					  <img src="../../static/img/customized/temp/codaslider_panelimage.gif" alt="" title="" />
					</div>
					<div class="panel-textblock">
  					<h2 class="title">... für Schulen & andere Gruppen</h2>
  					<p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die ...</p>
  					<a href="#" class="morelink"><span>Link</span></a>
					</div>
				</div>
			</div>
		</div><!-- .coda-slider -->
	</div><!-- .coda-slider-wrapper -->
</div>

<div class="sliderelement sliderelement_fadetransition">
  <div class="coda-slider-wrapper" style="width:600px;">
    <div class="coda-slider preload" style="width:600px;">
      <div class="panel" style="width:600px;">
        <div class="panel-wrapper">
          <div class="tab-nav-texte">
            <h2 class="tab-nav-headline"></h2>
            <h3 class="tab-nav-subheadline"></h3>
          </div>
          <div class="panel-image">
            <img src="../../static/img/customized/temp/codaslider_panelimage.gif" alt="" title="" />
          </div>
          <div class="panel-textblock">
            <h2 class="title">... für Schulen & andere Gruppen</h2>
            <p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die ...</p>
            <a href="#" class="morelink"><span>Link</span></a>
          </div>
        </div>
      </div>
    </div><!-- .coda-slider -->
  </div><!-- .coda-slider-wrapper -->
</div>

<div class="sliderelement sliderelement1 sliderelement_slidetransition">
  <div class="coda-slider-wrapper" style="width:600px;">
    <div class="coda-slider preload" style="width:600px;">
      <div class="panel" style="width:600px;">
        <div class="panel-wrapper">
          <div class="tab-nav-texte">
            <h2 class="tab-nav-headline"></h2>
            <h3 class="tab-nav-subheadline"></h3>
          </div>
          <div class="panel-image">
            <img src="../../static/img/customized/temp/codaslider_panelimage.gif" alt="" title="" />
          </div>
          <div class="panel-textblock">
            <h2 class="title">... für Schulen & andere Gruppen</h2>
            <p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die ...</p>
            <a href="#" class="morelink"><span>Link</span></a>
          </div>
        </div>
      </div>
    </div><!-- .coda-slider -->
  </div><!-- .coda-slider-wrapper -->
</div>

<div class="sliderelement sliderelement1 sliderelement_fadetransition">
  <div class="coda-slider-wrapper" style="width:600px;">
    <div class="coda-slider preload" style="width:600px;">
      <div class="panel" style="width:600px;">
        <div class="panel-wrapper">
          <div class="tab-nav-texte">
            <h2 class="tab-nav-headline"></h2>
            <h3 class="tab-nav-subheadline"></h3>
          </div>
          <div class="panel-image">
            <img src="../../static/img/customized/temp/codaslider_panelimage.gif" alt="" title="" />
          </div>
          <div class="panel-textblock">
            <h2 class="title">... für Schulen & andere Gruppen</h2>
            <p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die ...</p>
            <a href="#" class="morelink"><span>Link</span></a>
          </div>
        </div>
      </div>
    </div><!-- .coda-slider -->
  </div><!-- .coda-slider-wrapper -->
</div>

<div class="sliderelement sliderelement2 sliderelement_slidetransition">
  <div class="coda-slider-wrapper" style="width:600px;">
    <div class="coda-slider preload" style="width:600px;">
      <div class="panel" style="width:600px;">
        <div class="panel-wrapper">
          <div class="tab-nav-texte">
            <h2 class="tab-nav-headline"></h2>
            <h3 class="tab-nav-subheadline"></h3>
          </div>
          <div class="panel-image">
            <img src="../../static/img/customized/temp/codaslider_panelimage.gif" alt="" title="" />
          </div>
          <div class="panel-textblock">
            <h2 class="title">... für Schulen & andere Gruppen</h2>
            <p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die ...</p>
            <a href="#" class="morelink"><span>Link</span></a>
          </div>
        </div>
      </div>
    </div><!-- .coda-slider -->
  </div><!-- .coda-slider-wrapper -->
</div>

<div class="sliderelement sliderelement2 sliderelement_fadetransition">
  <div class="coda-slider-wrapper" style="width:600px;">
    <div class="coda-slider preload" style="width:600px;">
      <div class="panel" style="width:600px;">
        <div class="panel-wrapper">
          <div class="tab-nav-texte">
            <h2 class="tab-nav-headline"></h2>
            <h3 class="tab-nav-subheadline"></h3>
          </div>
          <div class="panel-image">
            <img src="../../static/img/customized/temp/codaslider_panelimage.gif" alt="" title="" />
          </div>
          <div class="panel-textblock">
            <h2 class="title">... für Schulen & andere Gruppen</h2>
            <p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die ...</p>
            <a href="#" class="morelink"><span>Link</span></a>
          </div>
        </div>
      </div>
    </div><!-- .coda-slider -->
  </div><!-- .coda-slider-wrapper -->
</div>





<div id="debug"></div>

<div id="javascript">
	lib.javascript
	<script type="text/javascript" src="../../../static/js/js.all.js"></script>
</div>



<script>



function debug(val){
	jQuery("#debug").append(val+"</br>");
}

</script>




	</body>
</html>
