@import "compass";
@import "rgbapng";
@import "_revisionnumber";

$baseurl: "anorak-typo3.io";

$outline: false; //outine block level elements




// C O N S T A N T S
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################

$bu: 10px; //Base unit


// F O N T   S I Z E S
// ############################################################################################################################
// ############################################################################################################################

$fs          : 16px;  // Font-size   'Standard'
$ff_header   : 0.750; // Font factor 'Header'
$ff_footer   : 0.850; // Font factor 'Footer'
$ff_nav_main : 1.125; // Font factor 'main navigation'
$ff_small    : 0.750; // Font factor 'small Font-size'

$lhf: 1.4; // Line height factor

// Headline factor ( e.g. $fs*$h1 / $fs*$h1*$lhf )
$h1 : 2.813; // 2.813 = 45px
$h2 : 1.563; // 1.563 = 25px
$h3 : 1.375; // 1.375 = 22px
$h4 : 1.125; // 1.125 = 18px
$h5 : 1.125; // 1.125 = 18px
$h6 : 1.000; // 1.000 = 16px


// S E P E R A T O R S   &   B O R D E R S
// ############################################################################################################################
// ############################################################################################################################

$seperator-style      : dotted;
$seperator-width      : 1px;

$border-style         : solid;
$border-width         : 2px;

$border-radius_small  : 5px;
$border-radius_big    : 8px;

$image_border_padding : $bu*1.3;
$image_border_width   : $border-width;


// T R A N S I T I O N S
// ############################################################################################################################
// ############################################################################################################################

$transition-duration : 0.15s;
$transition-function : ease-in-out;

$animation-textlink  : true;// animated (true) or underlined (false) text links


// B E H A V I O U R S
// ############################################################################################################################
// ############################################################################################################################

$news-list_hover  : background;// hover effect for 'background' or 'link' ...

$mailform_01      : background;// 'standard' or 'background'
$login_01         : background;// 'standard' or 'background'
$search_01        : background;// 'standard' or 'background'

$sliderelement_01 : standard;// 'standard' or 'background'



// T E M P L A T E
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################

$pagewidth: 940px; // excl. Page Padding

$pagealignment: center; // 'left' or 'center'

$pagepadding: $bu*4.0; // Pageblock Padding Left/right

$pagebackground: page; // 'page' or 'browser' Background of .header, .main, .footer (.pageblock)

// 1col layout – have to match col-widths in constants_customized.txt
$col2width_1col: 100%;

// 2col layout – have to match col-widths in constants_customized.txt
$col1width_2col: 220px;
$col2width_2col: 540px;

// 3col layout (.col1, .col2, .col3) – have to match col-widths in constants_customized.txt
$col1width: 220px;
$col2width: 380px;
$col3width: 140px;

$pagelayout-colspace: $bu*2.0;

// !! has to match settings in TypoScript !!
$csc-textpic-colspace: $bu*2.0;// textpic colspacing

// !! has to match subcolspacing settings in TypoScript !!
$subcolspacing: 10px;// subcolumn colspacing




// F O N T S
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################

$webfont_01: 'Trebuchet MS', Helvetica, Arial, sans-serif;

$font_01: physio-lig-webfont;   // filename in 'webfontkit'
$font_02: physio-med-webfont; // filename in 'webfontkit'




// C O L O R S
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################


// COLOR-DEFINITION
// ############################################################################################################################
// ############################################################################################################################

$color_00: #FFF; // white
$color_99: #000; // black

$color_05: #878787; //full tone 1
$color_01: lighten($color_05, 40%);
$color_02: lighten($color_05, 30%);
$color_03: lighten($color_05, 20%);
$color_04: lighten($color_05, 10%);
$color_06: darken($color_05, 10%);
$color_07: darken($color_05, 20%);
$color_08: darken($color_05, 30%);
$color_09: darken($color_05, 40%);

$color_15: #A0BE28; //full tone 2
$color_11: lighten($color_15, 40%);
$color_12: lighten($color_15, 30%);
$color_13: lighten($color_15, 20%);
$color_14: lighten($color_15, 10%);
$color_16: darken($color_15, 10%);
$color_17: darken($color_15, 20%);
$color_18: darken($color_15, 30%);
$color_19: darken($color_15, 40%);

$color_25: #8CA0AA; //full tone 3
$color_20: lighten($color_25, 50%);
$color_21: lighten($color_25, 40%);
$color_22: lighten($color_25, 30%);
$color_23: lighten($color_25, 20%);
$color_24: lighten($color_25, 10%);
$color_26: darken($color_25, 10%);
$color_27: darken($color_25, 20%);
$color_28: darken($color_25, 30%);
$color_29: darken($color_25, 40%);


// COLOR-NAMESPACING
// ############################################################################################################################
// ############################################################################################################################


// BODY COLORS
// ############################################################################################################################

$color_body_background: $color_15;
$color_body_text: $color_08;

$color_body_link: $color_15;
$color_body_link_hover: $color_25;


// HEADER COLORS
// ############################################################################################################################

$color_header_background: $color_00;

$color_header_border: $color_01;

$color_header_text: $color_08;

$color_header_link: $color_05;
$color_header_link_active: $color_15;
$color_header_link_hover: $color_08;


// MAIN COLORS
// ############################################################################################################################

$color_main_background: $color_00;
$color_main_background_hover: $color_01;
$color_main_background_highlight: $color_01;

$color_main_background_highlight_link: $color_body_link;
$color_main_background_highlight_link_hover: $color_body_link_hover;

$color_main_border: $color_02;
$color_main_border_hover: $color_04;

$color_main_seperator: $color_03;


$color_main_text: $color_08;
$color_main_text_highlight: $color_09;
$color_main_h1: $color_15;
$color_main_h2: $color_25;
$color_main_h3: $color_15;
$color_main_h4: $color_25;
$color_main_h5: $color_15;
$color_main_h6: $color_05;

$color_main_link: $color_body_link;
$color_main_link_hover: $color_body_link_hover;
$color_main_link_visited: $color_03;

$color_main_table_background: $color_01;

$color_main_image_background: $color_00;
$color_main_image_border_hover: $color_04;


// FOOTER COLORS
// ############################################################################################################################

$color_footer_background: $color_05;

$color_footer_text: $color_00;

$color_footer_border: $color_02;

$color_footer_link: $color_02;
$color_footer_link_hover: $color_00;


// NAV COLORS
// ############################################################################################################################

$color_nav1_background: $color_15;

$color_nav1_text: $color_00;

$color_nav1_border: $color_14;

$color_nav1_link: $color_00;
$color_nav1_link_hover: $color_11;
$color_nav1_link_active: $color_00;
$color_nav1_link_active_hover: $color_nav1_link_hover;


$color_nav2_level01_background: $color_00;
$color_nav2_level01_background_hover: $color_01;
$color_nav2_level01_link_current: $color_15;
$color_nav2_level01_border: $color_main_seperator;
$color_nav2_level01_link: $color_06;
$color_nav2_level01_link_hover: $color_08;

$color_nav2_level02_border: $color_main_seperator;
$color_nav2_level02_link: $color_06;
$color_nav2_level02_link_hover: $color_08;

$color_nav2_level03_border: $color_main_seperator;


// SLIDER ELEMENT COLORS ( CODA SLIDER )
// ############################################################################################################################

$color_slider_background: $color_01;
$color_slider_background_hover: $color_02;

$color_slider_button_background: $color_00;
$color_slider_button_background_active: $color_15;


// FORM COLORS
// ############################################################################################################################

$color_input_background: $color_01;
$color_input_background_active: $color_00;

$color_input_border: $color_03;
$color_input_border_hover: $color_23;
$color_input_border_active: $color_05;
$color_input_text: $color_08;
$color_input_text_inactive: $color_06;

$color_button_text: $color_00;
$color_button_background: $color_15;
$color_button_background_hover: $color_25;
$color_button_border: $color_15;
$color_button_border_hover: $color_25;

$color_form_background: $color_01;
$color_form_text: $color_04;
$color_form_seperator: $color_06;

// SITEMAP COLORS
// ############################################################################################################################

$color_sitemap_level01_background: $color_05;
$color_sitemap_level01_background_hover: $color_15;
$color_sitemap_level01_border: $color_05;
$color_sitemap_level01_border_hover: $color_15;
$color_sitemap_level01_text: $color_00;
$color_sitemap_level01_text_hover: $color_00;

$color_sitemap_level02_background: $color_01;
$color_sitemap_level02_background_hover: $color_00;
$color_sitemap_level02_border: $color_09;
$color_sitemap_level02_text: $color_08;
$color_sitemap_level02_text_hover: $color_15;

$color_sitemap_level03_background: $color_00;
$color_sitemap_level03_background_hover: $color_01;
$color_sitemap_level03_background_hover2: $color_01;
$color_sitemap_level03_border: $color_sitemap_level02_border;
$color_sitemap_level03_text: $color_08;
$color_sitemap_level03_text_hover: $color_08;
$color_sitemap_level03_text_hover2: $color_15;

$color_sitemap_level04_background: $color_05;
$color_sitemap_level04_border: $color_sitemap_level02_border;
$color_sitemap_level04_text: $color_01;




// I M A G E S   &   D E S I G N
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################


// LOGO
// ############################################################################################################################
// ############################################################################################################################

$width_logo: 280px;
$height_logo: 100px;

// SPRITES
// ############################################################################################################################
// ############################################################################################################################

$sprite_icons: '../../../../../fileadmin/app/static/img/customized/sprite_icons.#{$revision}';
$sprite_template: '../../../../../fileadmin/app/static/img/customized/sprite_template.#{$revision}';
$sprite_content-bg: '../../../../../fileadmin/app/static/img/customized/content-bg.#{$revision}';


// !! do not edit - redefine rgbapng_path to be absolute for IE6-8
// !! inf config.rb: images_dir = "/" necessary
$rgbapng_path:'../../../../fileadmin/app/static/css/images/rgbapng/';



// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################
// ############################################################################################################################